:root {
  background-color: aliceblue;
}
#header {
  background-color: aliceblue;
  padding-top: 8px;
  margin-bottom: 10px;
  border-bottom: 2px solid;
}
a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 500;
}
svg {
  width: 250px;
}
#header-div {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
#header-para {
  /* background-color: aqua; */
  width: 100vw;
  margin-left: 25%;
  display: flex;
  justify-content: space-around;
}

#section {
  padding-bottom: 1%;
  border-bottom: 2px solid;
}
#section-div {
  display: flex;
}
#section-image {
  height: 50%;
  width: 50%;
  background-repeat: no-repeat;
}

#hero-para {
  margin: 1%;
}

#main {
  border-bottom: 2px solid;
}
#main-container {
  display: grid;
  grid-template-columns: 1fr 2px 1fr 2px 1fr;
  align-items: stretch;
}

.divider {
    background-color: black;
    width: 100%;
    height: auto;
  }
.main-card {
  padding: 2%;
  /* background-color: antiquewhite; */
  /* padding: 10px; */

}

#main-card-img {
  width: 100%;
}
.main-card-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  background-color: rgb(0, 0, 0);
  margin-top: 2%;
  padding: 2%;
  width: 100vw;
}
#footer-container {
  display: flex;
  gap: 20px;
}

#footer-img {
  width: 45%;
}

#footer-form {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-right: 10px;
}

form {
  width: 100%;
  padding: 20px;
  background-color: rgb(39, 35, 35);
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid black;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  cursor: pointer;
}
input:focus{
    background-color: rgb(180, 179, 179);
}
input[type="button"] {
  background-color: rgb(31, 27, 27);
  color: rgb(184, 183, 183);
  border-color: rgb(8, 8, 8);

}
input[type="button"]:hover {
  background-color: black;
  color: white;
}

label {
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-bottom: 5px;
}
